@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&family=Mr+De+Haviland&family=Oswald:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik+Mono+One&display=swap');

body,html {
    height: 100vh;
}

.welcome-hero-area {
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.welcome-hero-area::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    content: "";
    opacity: .5;
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 2;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.logo a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #fff;
}

.logo h1 {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 4px;
    margin: 0;
}
.mainmenu {
    margin-top: 3px;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    padding-left: 30px;
}

.mainmenu li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 18px;
    padding-bottom: 3px;
    font-family:  'roboto';
    text-transform: uppercase;
    font-weight: 400;
}

.mainmenu li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
}

.hero-area-table {
    height: 100%;
    display: table;
    width: 100%;
    z-index: 1;
    position: inherit;
}

.hero-area-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.scroll-top-about {
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: #fff;
    font-size: 40px;
    height: 40px;
    width: 40px;
    margin-left: -20px;
    opacity: .7;
    z-index: 1;
}

.hero-area-logo h3 {
    font-size: 100px;
    font-weight: 400;
    font-family: 'Mr De Haviland', monospace;
    color:#c49a5f;
    margin: 0;
    line-height: 55px;
}

.hero-area-logo h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 700;
}

.bordered-area {
    overflow: hidden;
    max-width: 335px;
    margin: 0 auto;
}

.bordered-area-left-border, .bordered-area-right-border {
    float: left;
    height: 2px;
    width: 41%;
    background-color: #fff;
    margin-top: 7px;
}

.bordered-area i {
    float: left;
    margin: 0 20px;
    color: #c49a5f;
    font-size: 15px;
}

.hero-area-logo p {
    margin-top: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 500;
}


.bordered-area-right-border {
    position: relative;
}

.bordered-area-right-border::before {
    position: absolute;
    top: -4px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 9px solid #fff;
    border-bottom: 5px solid transparent;
    content: "";
}

.bordered-area-left-border {
    position: relative;
}

.bordered-area-left-border::before {
    position: absolute;
    top: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 9px solid #fff;
    border-bottom: 5px solid transparent;
    content: "";
}